ion-content {
  background-image: url("../../assets/imgs/fundo.gif");
  background-position: center;
}

ion-card ion-card-content {
  white-space: pre-line;
  text-align: center;
}

ion-card ion-card-header {
  white-space: pre-line;
  text-align: center;
  
}

ion-card {
  width: auto;
  height: 300px;
  border-radius: 100px;
  background-color: aqua;;
}

/* page-home {
}



ion-card ion-card-header {
  text-align: center;
  font-size: bold;
  white-space: pre-line;
}

ion-card img {
  height: 120px;
  align-self: center;
}

ion-card {
    width: auto;
    height: 200px;
  } */
